<footer class="text-center p-3">
    <ul class="footer-navbar">
        <li class="nav-item d-inline-block mx-2">
            <a class="nav-link" href="/index.html">Inicio</a>
        </li>
        <!-- Cambiar eventualmente a un acceso a Sharepoint u otro sistema con acceso usando credenciales Martinus -->
        <li class="nav-item d-inline-block mx-2">
            <a class="nav-link" href="/pages/portal.html">
                Portal
            </a>
        </li>
    </ul>
    <div class="copyright-container">
        © 2026 Martinus Rail Chile. Todos los derechos reservados.
    </div>
    <div class="back-to-top mt-3">
        <a href="#header" class="nav-link">Volver arriba</a>
    </div>
</footer>