<footer class="bg-dark text-white text-center p-3">
    <div class="copyright-container">
        © 2026 Martinus Rail Chile. Todos los derechos reservados.
    </div>
    <ul class="footer-navbar">
        <li class="nav-item d-inline-block mx-2">
            <a class="nav-link text-white" href="/index.html">Inicio</a>
        </li>
        <!-- Cambiar eventualmente a un acceso a Sharepoint u otro sistema con acceso usando credenciales Martinus -->
        <li class="nav-item d-inline-block mx-2">
            <a class="nav-link text-white" href="https://app.powerbi.com/view?r=eyJrIjoiNzhjNTdmZDMtYWJlYy00YmUyLWIwM2YtNGRlMmUzMThlMjMyIiwidCI6ImMyOTExZWZlLWU1NTEtNGMyYy1iYTM5LTljNmQ1M2Q0MDc0NSJ9&pageName=ab47ab95e06b21c906c9">
                Portal
            </a>
        </li>
    </ul>
    <div class="back-to-top mt-3">
        <a href="#header" class="text-white">Volver al inicio</a>
    </div>
</footer>