<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="brand-container">
            <a class="navbar-brand" href="/index.html">Martinus Rail Chile</a>
        </div>
    </nav>
    <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">Martinus Rail Chile</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav align-items-center gap-4">
                    
                </ul>
            </div>
        </div>
    </nav>
</header>