<header>
    <nav id="mainNavbar" class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">
                <img src="/img/Martinus-logos/Martinus-Logo-RGB.png" alt="Martinus Rail Chile Logo" width="200" height="auto">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav align-items-center gap-4">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Inicio</a>
                        </li>
                        <!-- Cambiar eventualmente a un acceso a Sharepoint u otro sistema con acceso usando credenciales Martinus -->
                        <li class="nav-item">
                            <a class="nav-link" href="/pages/portal.html">
                                Portal
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>