<header>
    <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/index.html">Martinus Rail Chile</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav align-items-center gap-4">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services.html">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact.html">Contacto</a>
                        </li>
                        <!-- Cambiar eventualmente a un acceso a Sharepoint u otro sistema con acceso usando credenciales Martinus -->
                        <li class="nav-item">
                            <a class="nav-link" href="https://app.powerbi.com/view?r=eyJrIjoiNzhjNTdmZDMtYWJlYy00YmUyLWIwM2YtNGRlMmUzMThlMjMyIiwidCI6ImMyOTExZWZlLWU1NTEtNGMyYy1iYTM5LTljNmQ1M2Q0MDc0NSJ9&pageName=ab47ab95e06b21c906c9">
                                Plataformas de Datos
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>